.App {
  text-align: center;
}

body{
  background-image: url('background.jpg')
}
ol{
   display: inline-block;
   margin-left: auto;
   margin-right: auto;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.buttonAdd {background-color: #008CBA;} /* Blue */
.buttonSubtract {background-color: #f44336;} /* Red */
.buttonMultiply {background-color: #e7e7e7;} /* Gray */
.buttonClear {background-color: #555555;} /* Black */
.buttonDivide {background-color: #984938;} /*Brown Red*/

input[type=text]{
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
